.App-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.App-container--narrow {
  max-width: 460px;
}

.App-header {
  padding: 1.2rem 0;
  background-color: #5c6073;
  color: white;
}

.App-title {
  display: inline-block;
  margin: 0;
  font-size: 2em;
  line-height: 1em;
}

.App-subtitle {
  display: inline-block;
  margin-left: 1rem;
}

.App-main {
  padding: 1rem 0;
}
