.Row {
  display: flex;
  flex-direction: row;
}

.Row--end {
  justify-content: flex-end;
}

.Col {
  flex: 1;
  padding: 0 0.5rem;
}

.Col--grow {
}

.Col--shrink {
}

.Col:first-child {
  padding-left: 0;
}

.Col:last-child {
  padding-right: 0;
}
